azure-functions
azure-identity
azure-keyvault-secrets
azure-storage-blob
azure-eventhub
beautifulsoup4
feedparser
openai
requests
psycopg2-binary
openai
pandas
fastavro
yfinance
pyspark
pytest
pytest-cov
unittest2
mock
python-dotenv

